<%%= form_for @<%= instance_name %> do |f| %>
  <%% if @<%= instance_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= t('activemodel.errors.template.header.other', :model => @<%= instance_name %>.class.model_name.human, :count => @<%= instance_name %>.errors.count) %></h2>

      <ul>
      <%% @<%= instance_name %>.errors.full_messages.each do |msg| %>
        <li><%%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

  <div class="field">
    <%%= f.label :fullname %><br />
    <%%= f.text_field :fullname %>
  </div>
  <div class="field">
    <%%= f.label :email %><br />
    <%%= f.text_field :email %>
  </div>
  <div class="field">
    <%%= f.label :message %><br />
    <%%= f.text_area :message %>
  </div>
  <div class="field" style="display: none">
    <%%= f.label :nickname %><br />
    <%%= f.text_area :nickname %>
  </div>
  
  <div class="actions">
    <%%= f.submit t('ecm.contact_form.submit') %>
  </div>
<%% end %>
